.reviews {
 margin-top: 2rem;

 &__list {
  display: flex;
 }

 &__title {
  border-bottom: 1px solid var(--darken-color);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--text-color);
  font-size: 1.3rem;
 }
}
