@import "../../../scss/mixins/mediaqueries";

.hero {
 height: 50vh;
 background: var(--main-color);
 background-position: 0% 0%;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 display: flex;
 padding-top: 5rem;

 @include lt-lg {
  padding-top: 7rem;
 }

 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 0 2rem 0 2rem;
  margin-left: auto;
  height: 100%;
  padding-top: 30rem;
  color: white;
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(5px);

  @include lt-lg {
   height: 100%;
   width: 100%;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
  }

  .title {
   font-size: min(max(1rem, 5vw), 4rem);
   font-weight: 600;
   padding-bottom: 1rem;
  }

  .genres {
   list-style: none;
   margin-bottom: 2rem;

   @include lt-lg {
    text-align: center;
   }

   li {
    display: inline;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border: 3px solid var(--main-color);
    border-radius: 5rem;
    margin-right: 0.5rem;
   }

   &:after {
    content: ", ";
   }

   &:last-child::after {
    content: "";
   }
  }

  .description {
   font-size: 1.1rem;
   width: 100%;
   padding-bottom: 2rem;

   @include lt-lg {
    width: 100%;
   }
  }

  .buttonContainer {
   font-weight: 500;

   @include lt-lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .buttonLearn {
    font-size: 1.2rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    border-radius: 5rem;
    background-color: var(--main-color);
    margin-right: 2rem;
    border: 3px solid var(--main-color);

    @include lt-lg {
     margin-right: 0;
     margin-bottom: 1rem;
    }

    &:hover {
     background-color: transparent;
    }
   }

   .buttonTrailer {
    font-size: 1.2rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    border: 3px solid var(--main-color);
    border-radius: 5rem;

    &:hover {
     background-color: var(--main-color);
    }
   }
  }
 }
}

.cast {
 margin-top: 2rem;

 &__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #707070;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: var(--text-color);
  font-size: 1.3rem;
 }

 &__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include lt-lg {
   justify-content:safe; 
  }
 }
}
