.mainNavigation {
    ul {
        list-style-type: none;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 6rem;
        background-color: var(--background-color);
        height: 100%;
        position: fixed;
        overflow: auto;

        li svg:hover {
         color: #6703ff;
        }

        .title {
            color: var(--main-color);
            border-bottom: 1px solid #2e2e2e;
            padding-top: 1.9rem;
            padding-bottom: 1.8rem;
            font-size: 1.3rem;
            font-weight: 700;
        }

        .homeIcon {
         padding-top: 3rem;
        }

        .showsIcon {
            border-bottom: 1px solid #2e2e2e;
            padding-bottom: 3rem;
        }

        .personIcon {
            padding-top: 3rem;
        }

        svg {
            width: 2rem;
            height: 100%;
        }

        li {
            margin: 0 0.25rem;
            padding: 1rem;

            a {
                color: var(--text-color);
                text-decoration: none;
            }
        }
    }
}